*{
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #333;
}

.wrap{
    width: 1000px;
    height: 700px;
    margin: 0% auto;
}
.wrap header{
    width: 100%;
    height: 160px;
    
}
header .logo{
    width: 100%;
    height: 160px;
    margin-top: 10px;
    color: white;
    /* background-color: burlywood; */
    border: 1px solid gainsboro;
    margin-bottom: 3px;    
}
header .logo .logo_left{
    float: left;
    width: 299px;
    margin-top: 45px;
    text-align: center;
    
}
header .logo .logo_center{
    float: left;
    width: 698px;
    margin-top: 55px;
}
header .logo #logo1{
    float: left;
    width: 300px;
    height: 40px;
    
}
header .logo #logo2{
    float: left;
    width: 100px;
    height: 40px;
    background-image: url(image/search.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
    
}

header nav ul{
    padding: 0px;
    margin-top: 5px;
}
.search{
    border: 1px solid gainsboro;
    width: 100%;
    height: 61px;
}
header nav ul li{
    width: 20%;
    height: 50px;
    /* background-color: whitesmoke; */
    /* border: 1px solid gainsboro; */
    float: left;
    
    
}
header nav ul li a{
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: gray;
    
}

main{
    width: 100%;
    height: 500px;
    /* background-color: bisque; */
    margin-top: 10px;
    
}
main #leftSide {
    width: 74%;
    float: left;
    margin-top: 8px;
    
}

main #leftSide img{
    width: 100%;
    border: 1px solid gainsboro;
}
main #leftSide #notice{
    font-size: 15px;
    height: 40px;
    /* line-height: 40px; */
    border: 1px solid gainsboro;
    /* margin-bottom: 5px; */
    width: 100%;
    /* background-color: aqua; */
    float: left;
    padding: 8px;
    margin-bottom: 3px;
}
main #leftSide #notice .div1{
    float: left;
    /* width: 75%; */
    /* background-color: aqua; */
    /* border: 1px solid rgb(253, 122, 113); */
}
main #leftSide #notice .div2{
    float: right;
    /* width: 25%; */
    /* border: 1px solid rgb(224, 63, 34); */
    /* color: red; */
    /* background-color: blue; */
}
main #leftSide #notice .div2 ul{
    margin: 0;
    padding: 0;
}
main #leftSide #notice .div2 li{
    /* border: 1px solid black; */
    float: left;

}
main #leftSide #notice .div2 a{
    float: left;
    /* border: 1px solid black; */
    padding: 0px 8px;
    
}
main #rightSide{
    width: 25%;
    float: left;
    margin-left: 1%;
    margin-top: 8px;
}

#login_wrap{
    width: 250px;
    height: 120px;
    /* background-color: aquamarine; */
    margin-bottom: 15px;
    /* position: relative; */
    /* 범위를 벗어나면 숨김 */
    /* overflow: hidden; */
    border: 1px solid gainsboro;
}
#login_form{
    height: 80%;
}
#login_form_input{
    width: 65%;
    /* px로 지정할 경우 부모와 상관없이 지정 */
    /* %로 높이 값을 지정할 경우 부모의 높이가 
        지정되어 있지 않으면 높이가 지정이 안됨 */
    height: 100%;
    float: left;
    /* background-color: cadetblue; */
}
#login_form_input > input{
    width: 100%;
    height: 50%;
}
#login_form_btn {
    width: 35%;
    height: 100%;
    float: right;
    /* text-align: right; */
    /* background-color: blue; */
}
#login_form_btn > input{
    width: 100%;
    height: 100%;
    border-radius: 3px;
    /* background-color: aqua; */
}
#login_link{
    text-align: center;
}
#login_link a{
    text-decoration: none;
    color: #333;
    font-size: 0.8em;
    /* background-color: darkkhaki; */
}

main #rightSide #banner{
    width: 250px;
    margin-bottom: 10px;
    margin-top: -8px;
    border: 1px solid gainsboro;
}

footer{
    width: 100%;
    height: 250px;
    /* background-color: blanchedalmond; */
}
footer .finish{
    border: 1px solid gainsboro;
}
footer .finish ul{
    padding: 15px;
}

footer .finish img{
    height: 100px;
    width: 100%;
}