    @import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

    #ff1{
        font-family: "궁서체";
    }
    #ff2{
        font-family: "굴림체";
    }
    /*
    글꼴이 없는 경우를 대비해서
    , 를 이용하여 여러글꼴을 나열할 수 있음 */
    #ff3{
        font-family: "없는글꼴", "궁서>o<", "고딕";
    }

    /* 웹폰트 */
    h1{
        color: yellow;
        font-family: 'Nanum Pen Script', cursive;
    }
    .web-font{
        font-family: 'Nanum Pen Script', cursive;
    }
    #size1{
        font-size: 16pt;
    }
    #size2{
        font-size: 2em;
    }
    #size3{
        font-size: 150%;
    }

    #fw1{
        font-weight: bold;
    }
    #fw2{
        font-weight: lighter;
    }
    #fw3{
        font-weight: 900;
    }

    #fv{

        /* small-caps : 소문자를 대문자로 바꿉니다.
            normar : 바꾸지 않음
        */
        font-variant: small-caps;
    }

    #fs1{
        font-style: italic;
    }
    #fs2{
        font-style: oblique;
    }

    /* 글자색 변경하기
        이름으로 지정
        16진수로 지정
        rgb/rgba 로 지정
        hsl/hwb 로 지정
     */
    #c-name{
        /*
            이름으로 지정
            웹 안전 색상
            모든 웹브라우저에서 표현할 수 있는 색상
            16가지 기본색상을 포함 216가지
        */
        color: red;
    }
    #c-16{
        /*
            #과 16진수 6자리를 합쳐서 색상을 표현
            앞에서부터 2자리씩 묶어 빨강, 초록, 파랑 색상의 양을 표시
            (중복된 숫자인 경우 3자리로 표현 가능 #000000 -> #000)
        */
        color: #ffffff;
        background-color: #000;
        
    }
    #c-rgb{
        /*
            빨강 초록 파랑의 양을 0~255까지의 수로 표현
        */
        color:rgb(126, 74, 156);
        background-color: hsl(100, 72%, 76%);

    }
    #c-rgba{
        /*
            0 : 투명도
            0~1 까지
            0: 투명, 1: 불투명
        */

        /*
            hsl 방식
            색상(hue)
            색상(hue), 채도(saturation), 밝기(light)
        */
        color: rgba(255,0,0,0.253);
        background-color: hwb(214 72% 6%);
        
    }

    #td-none{
        text-decoration: none;
    }
    #td-underline{
        text-decoration: underline;
    }
    #td-overline{
        text-decoration: overline;
    }
    #td-line-through{
        text-decoration: line-through;
    }

    li{
        padding: 20px;
        /* 선의 두께, 선 스타일, 색상*/
        border: 1px dotted #000;
    }

    a{
        text-decoration: none;
        color: #666;
        font-size: 1.5em;
    }

    #ts1{
        font-size: 1.5em;
        font-weight: 900;
        color: blue;
        text-shadow: 3px 3px 3px rgb(40, 68, 146);
        background-color: #b6a1a1;
    }
    #ts2{
        text-shadow: -10px -10px rgb(126, 74, 156);
    }
    #ts3{
        text-shadow: 10px 10px 2px green;
    }

    #tt1{
        text-transform: none;
    }
    #tt2{
        text-transform: capitalize;
    }
    #tt3{
        text-transform: uppercase;
    }
    #tt4{
        text-transform: lowercase;
    }

    .lh1{
        font-size: 1em;
        line-height: 1em;
        text-align: left;
    }
    .lh2{
        font-size: em;
        line-height: 2em;
        text-align: right;
    }
    .lh3{
        font-size: em;
        line-height: 0.3em;
        text-align: center;
    }
    .lh4{
        font-size: em;
        line-height: 3em;
        text-align: justify;
    }

    table{
        /* 캡션의 위치 (기본값 : top) */
        caption-side: bottom;

        border:1px solid #999;
        /* 테두리를 한줄로 표시 */
        border-collapse: collapse;   
    }

    th, tr, td{
        border: 1px dotted #666;
    }