.trans-test{
    width: 250px;
    height: 200px;

    /* 위치를 지정하기 위해서 포지션 속성을 설정 */
    position: relative;
    left: 50px;
    /* 
        웹 요소의 스타일 속성이 조금씩 자연스럽게 바뀌도록 함
    
        기본값
        all
        ease : 처음에는 천천히 빨라지다가 끝날 때 천천히 
    */
    transition: 1s;
}
    

/* 아이디가 trans1 요소에 마우스가 올라온 상태라면 */
/* transform : 특정 요소의 크기나 형태 등 스타일이 바뀌는 것 */
#trans1:hover{
    /* 음수는 왼쪽으로 이동, 양수는 오른쪽으로 이동 */
    transform: translateX(50px);
}
#trans2:hover{
    /* 음수이면 위로 올라가고 양수이면 아래로 내려간다 */
    transform: translateY(50px);
}
#trans3:hover{
    transform: translate(50px, 50px);
}
#trans4:hover{
    transform: scaleX(2);
    /* transform: scaleX(0.5); */
}
#trans5:hover{
    transform: scaleY(2);
    /* transform: scaleY(0.5); */
}
#trans6:hover{
    /* transform: scale(2); */
    transform: scale(0.5,0.5);
}

#trans7:hover{
    /* 각도만큼 회전 */
    transform: rotate(45deg);
}
#trans8:hover{
    /* 각도만큼 회전 */
    /* 양수는 오른쪽으로 회전 음수는 왼쪽으로 회전 */
    transform: rotate(-45deg);
}

#trans9:hover{
    /* 중심축을 가운데로 */
    transform-origin: center center;
    /* 각도만큼 회전 */
    /* 양수는 오른쪽으로 회전, 음수는 왼쪽으로 회전 */
    transform: rotate(-45deg);
}

#trans10:hover{
    /* 중심축을 왼쪽의 위로 */
    transform-origin: left top;
    transform: rotate(-45deg);
}
